
<div class="grid_container">

  <div class="bg_img" *ngIf="pages[2] || pages[3] || pages[5]y"><img src="../../assets/img/teslaEVSE.svg" alt="aether ev img"></div>

  <!-- grid dashboard -->
  <div class="banner">
    <h1>{{page_title}}</h1>
    <div class="banner_right">
      <a name="request" id="request" class="btn btn-primary" role="button" *ngIf="pages[1]" (click)="makeRequest()">Request Now</a>
      <span class="material-icons arrow_back" *ngIf="pages[1] || pages[4]" (click)="back()">
        arrow_back
      </span>
    </div>
  </div>

  <div class="grid_page1" *ngIf="pages[0]">
    <div class="grid_left">
      <h1>Request</h1>
      <h4>{{open_req}} opened by you</h4>
      <h4>{{accepted_req}} accepted by others</h4>
      <h4>{{completed_req}} completed by others</h4>
      <div class="btns">
        <button type="button" id="view" class="btn btn-primary btn2" role="button" (click)="viewRequests()">View All</button>
        <button type="button" id="request" class="btn btn-primary" role="button" (click)="makeRequest()">Request Now</button>
      </div>
    </div>

    <div class="grid_right">
      <h1>Resolve</h1>
      <h4>{{open_res}} opened by others</h4>
      <h4>{{accepted_res}} accepted by you</h4>
      <h4>{{completed_res}} completed by you</h4>
      <a name="request" id="request" class="btn btn-primary" role="button" (click)="viewResolves()">Resolve</a>
    </div>
  </div>

  <!-- view request -->
  <div class="grid_page2" *ngIf="pages[1]">

    <div class="card" *ngFor="let req of requests">
      <div class="card-body">
        <div class="left">
          <p>Request ID: {{req.request_id}}</p>
          <h5><ng-container *ngFor="let station of stations"><ng-container *ngIf="(station.station_id == req.station_id)">{{station.station_location}}</ng-container></ng-container> station requesting for {{req.requested_supply}}KW</h5>
          <h5>currently at {{req.curr_station_supply}}KW</h5>
          <h6>Requested at: {{req.request_time | date: "dd-MM-YYYY hh:mm:ss"}}</h6>
        </div>
        <div class="right">
          <p class="card-text">Status {{req.request_status}}</p>
          <div class="options" *ngIf="(req.request_status == 'open')">
            <span class="material-icons edit" (click)="update(req)">
              edit
            </span>
            <span class="material-icons delete" (click)="delete(req.request_id)">
              delete
            </span>
          </div>
          <span class="material-icons edit" *ngIf="(req.request_status == 'accepted')">
            pending
          </span>
          <span class="material-icons edit" *ngIf="(req.request_status == 'completed')">
            done
          </span>
          <span class="material-icons edit" *ngIf="(req.request_status == 'canceled')">
            close
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- make request/ update request-->
  <div class="grid_page3" *ngIf="pages[2] || pages[3]">
    <h4 *ngIf="pages[3]">Request ID: {{req_id}}</h4>
    <form [formGroup]="requestForm">
      <div>
        <label for="station">Book for your station at</label>
        <select id="station" formControlName="station_id" (ngModelChange)="setStation($event)">
          <option *ngFor="let station of stations"  [value]="station.station_id">{{station.station_location}}</option>
        </select>
      </div>
      <div>
        <label for="requested_supply">for supply of</label>
        <input type="text" id="requested_supply" formControlName="requested_supply" (keypress)="keyPressNumbers($event)" (focusout)="validate(requestForm.get('requested_supply').invalid, 'Request under 999KW')">
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="confirmReq(requestForm.value)" *ngIf="pages[2]" [disabled]="!requestForm.valid">Request</button>
        <button type="button" class="btn btn-primary" (click)="updateReq(requestForm.value)" *ngIf="pages[3]" [disabled]="!requestForm.valid">Update</button>
        <button type="button" class="btn btn-primary btn2" (click)="cancelReq()">Cancel</button>
      </div>
    </form>
  </div>

  <!-- view resolve -->
  <div class="grid_page4" *ngIf="pages[4]">
    <div class="card" *ngFor="let req of resolves">
      <div class="card-body">
        <div class="left">
          <p>Request ID: {{req.request_id}}</p>
          <h5><ng-container *ngFor="let com of companies"><ng-container *ngIf="(com.com_id == req.com_id)">{{com.com_name}}</ng-container></ng-container></h5>
          <h5><ng-container *ngFor="let station of otherStations"><ng-container *ngIf="(station.station_id == req.station_id)">{{station.station_location}}</ng-container></ng-container> station requesting for {{req.requested_supply}}KW</h5>
          <h5>currently at {{req.curr_station_supply}}KW</h5>
          <h6>Requested at: {{req.request_time | date: "dd-MM-YYYY hh:mm:ss"}}</h6>
        </div>
        <div class="right">
          <p class="card-text">Status {{req.request_status}}</p>
          <span class="material-icons edit" (click)="accept(req)"  *ngIf="(req.request_status == 'open')">
            check_circle
          </span>
          <span class="material-icons edit" (click)="complete(req.request_id)" *ngIf="(req.request_status == 'accepted')">
            check_circle_outline
          </span>
          <span class="material-icons edit" *ngIf="(req.request_status == 'completed')">
            done
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- make resolve-->
  <div class="grid_page5" *ngIf="pages[5]">
    <h4>Request ID: {{req_id}}</h4>
    <form [formGroup]="resolveForm">
      <div>
        <label for="time_from">Resolve request from</label>
        <select id="time_from" formControlName="slot_from">
          <option *ngFor="let slot of timeslots"  [value]="slot.slot_id">{{slot.from_time}}</option>
        </select>
        <label for="time_to">to</label>
        <select id="time_to" formControlName="slot_to">
          <option *ngFor="let slot of timeslots"  [value]="slot.slot_id">{{slot.to_time}}</option>
        </select>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="confirmRes(resolveForm.value)" [disabled]="!resolveForm.valid">Resolve</button>
        <button type="button" class="btn btn-primary btn2" (click)="cancelRes()">Cancel</button>
      </div>
    </form>
  </div>
</div>

