
.grid_page1{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.bg_img{
  position: fixed;
  width: 20%;
  right: 2%;
  bottom: 0;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}
.banner_right{
  display: flex;
  align-items: center;
}
.arrow_back{
  font-size: 1.8rem;
}
.card{
  padding: .5rem;
  margin: .5rem 0;
  border-radius: .8rem;
  background: none;
}
.card-body{
  display: flex;
  justify-content: space-between;
}
.card-body .right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.grid_page2, .grid_page4{
  height: 65vh;
  overflow-y: scroll;
}

.grid_left, .grid_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 40%;
  border-radius: .8rem;
  box-shadow: .08rem .08rem 1rem #dfd7d7;
  padding: 1rem;
}

.btn-primary{
  border-radius: 2rem;
  background-color: var(--ev-green);
  border: none;
  font-weight: 700;
  padding: .5rem 1.5rem;
  margin: .3rem 1rem;
}
.btn-primary:hover{
  background-color: var(--hover-color);
}
.btn2{
  background-color: var(--hover-color);
}

label{
  font-size: 1.5rem;
  line-height: 3.5rem;
}
input, select{
  margin: 1rem;
  border: none;
  border-bottom: .1rem solid var(--ev-green);
  background: none;
}
