
<ul class="nav">
  <li class="nav-item">
      <a class="smartvolt">Smart<span>Volt</span></a>
  </li>
</ul>

<div class="container content_wrapper flex-md-row flex-column mb-md-0">
  <div class="left col-md-7 col-11 my-5">
      <img src="../../assets/img/ev_login.png" alt="ev login img">
  </div>
  <div class="right col-md-5 col-10">
      <h1>Sign In</h1>
      <a name="login" id="login" class="btn btn-primary login" role="button" (click)="login()">
          <div class="google_logo"><img src="../../assets/img/google logo.png" alt="google logo"></div>
          <h3>Sign in with Gmail</h3>
      </a>
  </div>
</div>

